# .gitignore

# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Ambientes ---
.env
.venv/
env/
venv/

# --- IDEs ---
.idea/
.vscode/

# --- Logs e Dados (Minúsculo conforme criado) ---
*.log
logs/
data/
!logs/.gitkeep
!data/.gitkeep
data/*
!data/.gitkeep
*.db
*.sqlite3

# --- Outros Arquivos que não podem subir ---
data/json/*.json
data/json/chat_history.json